# Clothing Material and Heat Transfer

Kristtiya Guerra and Audrey Lee

In [102]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim.py module
from modsim import *

### The Human Body

I will set a `State` object for the initial temperature of the human body (in Celsius).

In [103]:
init = State(TS=37)

TS    37
dtype: int64

And a `System` object to contain the system parameters.

In [104]:
meter = UNITS.meter
watt = UNITS.watt
minute = UNITS.minute
kelvin = UNITS.kelvin
celsius = UNITS.celsius

human = System(init=init,
               A=1.6*.99,
               A2=4,
               A3=5,
               A4=6,
               r=.41/1.136,
               r2=.21/1.136,
               r3=.04/1.136,
               T_env= 4,
               t_end=20,
               dt=1)

NameError: name 'Q' is not defined

In [91]:
def winter_clothes(state, t, system):
    """Update the thermal transfer model.
    
    state: State (temp)
    t: time
    system: System object
    
    returns: State (temp)
    """
    unpack(system)
    q = state
    TS = state.TS
    
    
    Qc = (A * (TS - T_env)/r)
    
    q += Qc* dt
    
    return State(Q=q)

In [92]:
winter_clothes(init, 0, human)

Q    TS    89.272
dtype: float64
dtype: object

In [96]:
def run_simulation(system, winter_clothes):
    """Runs a simulation of the system.
    
    Add a TimeFrame to the System: results
    
    system: System object
    update_func: function that updates state
    """
    unpack(system)
    
    frame = TimeFrame(columns=init.index)
    frame.row[0] = init
    ts = linrange(0, t_end, dt)
    
    for t in ts:
        frame.row[t+dt] = update_func(frame.row[t], t, system)
        
    # store the final temperature in T_final
    system.Q_final = get_last_value(frame.TS)
    
    return frame

In [97]:
results = run_simulation(human, winter_clothes)

        TS
0   89.272
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN

In [98]:
plot(results.Q, label='coffee')
decorate(xlabel='Time (minutes)',
         ylabel='Temperature (C)')

AttributeError: 'TimeFrame' object has no attribute 'Q'

In [99]:
human.Q_final

nan